matplotlib>=3.5
pyqt~=5
scipy~=1.9
numpy~=1.23
pandas~=1.5
scikit-image~=0.19
scikit-learn~=1.1
pytorch>=1.12
torchvision
seaborn~=0.11
joblib~=1.1
tqdm~=4.64
click
pyarrow>=6.0.1
cudatoolkit>=11.2
cudnn>=8.1.0
lightgbm>=3.3
ray[default]~=2.0.0
ray[air]~=2.0.0
ray[tune]~=2.0.0
ray[rllib]~=2.0.0
