seaborn~=0.12
ipython
notebook
jupyter
jupytext
sphinx~=5.3
sphinx_rtd_theme==1.0.0
sphinx-copybutton
myst-nb
pytest~=7.2
pytest-cov~=4.0
pytest-html~=3.2
coverage~=6.5
xgboost~=1.7
pip
setuptools
wheel
build
pytype
